doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        
        title List
        style
            include style.css
            
    body
        div(id="cars")
            h2=`VIN : ${mono.VIN}`
            h2=`Model : ${mono.Model}`
            h2=`firm: ${mono.firm}`
            h2=`Number : ${mono.Number}`
            h2=`color : ${mono.color}`
            h2=`owner : ${mono.owner}`